.homeAboutContainer {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  
    color: #5e8f65;
  }
  .homeAboutContainer h1 {
    font-size: 40px;
    font-weight: 400;
  }
  
  .aboutHeaderUnderline {
    width: 25%;
    border: 1px solid;
    color: #5e8f65;
  }
  
  .aboutText {
    max-width: 900px;
    text-align: center;
    color: black;
    font-size: 17px;
  }
  
  .aboutButtonContainer {
    padding: 40px;
  }
  
  .aboutButton {
    padding: 20px 30px;
    font-size: 20px;
    width: auto;
    border: none;
    background-color: #9fcea6;
    border-radius: 10px;
    transition: all .3s ease-in-out;;
    box-shadow: -7px 9px 0px -2px rgba(94, 143, 101, 0.75);
    -webkit-box-shadow: -7px 9px 0px -2px rgba(94, 143, 101, 0.75);
    -moz-box-shadow: -7px 9px 0px -2px rgba(94, 143, 101, 0.75);
  }
  
  .aboutButton:hover {
    background-color: rgba(94, 143, 101, 0.75) !important;
    transform: scale(1.1);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }