.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(8px);
}

.sideBarNav { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 10;
}